.vs
*.sln
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/UltimateWeaponLoadout/Demo/
Content/UltimateWeaponLoadout/Blueprint/IconGenerator/
Content/UltimateWeaponLoadout/Blueprint/SaveGame/
Content/UltimateWeaponLoadout/Blueprint/Widget/